{__NOLAYOUT__}


    <!--    我的css   开始-->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/content.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/audit.css">
    <!--    我的css   结束-->
    
            <div class="y_activity_top">
                <p class="span2">新闻详情</p>
            </div>
            <ul class="y_activity_ul">
                <li>
                    <div class="span2 y_activity_left">
                        <p >标题：</p>
                    </div>
                    <div class="span7">
                        <p class="y_activity_title">{$content.title}</p>
                    </div>
                    <div style="clear: both"></div>
                </li>
                <li>
                    <div class="span2 y_activity_left">
                        <p >来源：</p>
                    </div>
                    <div class="span7">
                        <p>{$content.from}</p>
                    </div>
                    <div style="clear: both"></div>
                </li>
                <li>
                    <div class="span2 y_activity_left">
                        <p>摘要：</p>
                    </div>
                    <div class="span7">
                        <p>{$content.description}</p>
                    </div>
                    <div style="clear: both"></div>
                </li>
                <li>
                    <div class="span2 y_activity_left">
                        <p>主要内容：</p>
                    </div>
                    <div class="span7">
                        <p>{$content.content}</p>
                    </div>
                    <div style="clear: both"></div>
                </li>
                <li>
                    <div class="span2 y_activity_left">
                        <p>图片：</p>
                    </div>
                    <div class="span7">
                        <p>
                            <img src="{$content.listimg}" alt="">
                        </p>
                    </div>
                    <div style="clear: both"></div>
                </li>
                
            </ul>
  
