<link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="__PUBLIC__/Admin/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="shortcut icon" href="__PUBLIC__/Admin/image/favicon.ico"/>
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2_metro.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/DT_bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/content.css" />

<if condition="CONTROLLER_NAME eq 'Publish'">
    <!--引用textarea，设置文字字体样式-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2_metro.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/jquery.tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-wysihtml5.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap-toggle-buttons.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/multi-select-metro.css" />
    <link href="__PUBLIC__/Admin/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <!-- 引用textarea，设置文字字体样式  结束 -->
</if>
<!--    我的css   开始-->
<link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/content.css">
<!--    我的css   结束-->