<link href="__PUBLIC__/Admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Admin/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="__PUBLIC__/Admin/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="shortcut icon" href="__PUBLIC__/Admin/image/favicon.ico"/>
<!-- BEGIN PAGE LEVEL STYLES -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/select2_metro.css" />

<link rel="stylesheet" href="__PUBLIC__/Admin/css/DT_bootstrap.css" />