<div class="page-sidebar nav-collapse collapse">
    <!-- 侧导航菜单开始 -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
            &nbsp;
        </li>

        <volist name="leftmenu" id="left">
            <li class="">
                   <if condition="$left['menu_type'] eq 1">
                       <a href="/index.php/admin/{$left.menu_url}">
                           <i class="icon-home"></i>
                           <span class="title">{$left.menu_name}</span>
                           <span class="selected"></span>
                       </a>
                   <else />
                       <a href="javascript:;">
                           <i class="icon-briefcase"></i>
                           <span class="title">{$left.menu_name}</span>
                           <span class="arrow "></span>
                       </a>
                       <ul class="sub-menu">
                           <volist name="left['child']" id="left1">
                               <if condition="$left1['menu_type'] eq 1">
                                   <li>
                                       <a href="/index.php/admin/{$left1['menu_url']}">{$left1['menu_name']}</a>
                                   </li>
                               <else />
                                   <li>
                                       <a href="#">{$left1['menu_name']}
                                           <span class="arrow"></span>
                                       </a>
                                       <ul class="sub-menu">
                                           <foreach name="left1['child']" item="left2">
                                                <li><a href="/index.php/admin/{$left2.menu_url}">{$left2.menu_name}</a></li>
                                           </foreach>
                                       </ul>
                                   </li>

                               </if>
                           </volist>
                       </ul>
                   </if>
            </li>
        </volist>
    </ul>
    <!-- 导航菜单结束 -->
</div>