.business-builder-content,.business-builder-con{
    margin-top:20px;
}
/*创业课程专题讲座样式*/
.career-course-search p{
    float:right;
    margin-bottom:20px;
}
.career-course-search p input{
    line-height:32px;
    width:220px;
    padding-left:10px;
}
.career-course-search p button{
    background:#002772;
    color:#fff;
    border:none;
    line-height:36px;
    width:60px;
    text-align:center;
}
.career-course ul li{
    margin-top:20px;
    padding:10px;
    box-shadow:0 4px 15px #dad9d9;
}
.career-course ul li img{
    float:left;
    width:30%;
}
.career-course-detail{
    float:left;
    width:68%;
    margin-left:2%;
}
.career-course-detail h3{
    font-weight:bold;
    line-height:24px;
    font-size:18px;
}
.career-course-detail span{
    font-size:16px;
}
.career-course-detail p{
    padding-top:8px;
    line-height:20px;
    font-size:14px;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
    overflow: hidden;
}
.business-con-right-tab .info-matter-right{
    width:100%;
}
/*列表导师推荐样式*/
.business-teacher-recommend ul li{
    float:left;
    width:22%;
    margin:10px 0 0 1.2%;
    border:1px solid #dddddd;
}
.business-teacher-recommend ul li a{
    display:block;
    position:relative;
    padding-top:5px;
}
.business-teacher-recommend ul li img{
    width:90%;
    display: block;
    margin:0  auto;
}
.business-teacher-recommend ul li p{
    text-align:center;
    line-height:24px;
    font-weight:bold;
    padding-top:5px;
}
.business-teacher-recommend ul li .business-teacher-shadow{
    position:absolute;
    bottom:0;
    width:96%;
    padding:0 2%;
    background:rgba(0,0,0,.5);
    height:100%;
    display: none;
}
.business-teacher-shadow span{
    color:#ffffff;
    line-height:20px;
    font-size:14px;
    display:block;
    position: absolute;
    bottom:20px;
    height:120px;
    overflow:hidden;
    width: 90%;
    left:5%;

}
.business-teacher-recommend ul li:hover .business-teacher-shadow{
    display:block;
}
/*列表直播辅导样式*/
.business-live-tutoring ul li{
    float:left;
    width:30%;
    margin:10px 0 0 1.2%;
    border:1px solid #dddddd;
}
.business-live-tutoring ul li a{
    display:block;
    width:92%;
    margin:8px auto 0 auto;
    padding-bottom:10px;
}
.business-live-tutoring ul li img{
    width:100%;
}
.business-live-tutoring ul li h3{
    font-size:14px;
    font-weight:bold;
    line-height:22px;
    padding:8px 0 4px 0;
    border-bottom:1px dotted #dddddd;
}
.business-live-tutoring ul li p{
    font-size:14px;
    padding-top:8px;
}
/*创业项目详情页*/
.business-course-top-left{
    float:left;
    width:45%;
}
.business-course-top-left img{
    width:100%;
    max-height:304px;
}
.business-course-top-right{
    float:left;
    width:53%;
    margin-left:2%;
}
.business-course-top-right h2{
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    padding:20px 0 10px 0;
}
.business-course-top-right p{
    padding:5px 0;
}
.business-course-top-right p i{
    background:url("../image/builder-lesson.png") no-repeat;
    width:22px;
    height:20px;
    display:block;
    float:left;
}
.business-course-top-right p span{
    display:block;
    float:left;
    line-height:20px;
    font-size:14px;
    margin-left:3px;
}
.business-course-top-right > p > i{
    margin-top:3px;
}
.business-course-top-right div{
    margin-top:10px;
}
.business-course-top-right div p{
    float:left;
}
.business-course-top-right div p span{
    color:#000;
    font-size:16px;
}
.business-course-top-right div p:nth-of-type(2){
    margin-left:18px;
}
.business-course-top-right div p:first-of-type i{
    background:url("../image/builder-hour.png") no-repeat;
}
.business-course-top-right div p:nth-of-type(2) i{
    background: url("../image/builder-look.png") no-repeat;
}
.business-course-top-right button{
    padding:12px 16px;
    background:#ffb80f;
    color:#fff;
    font-size:18px;
    border:none;
    margin-top:40px;
}
/*创业课程下面tab切换*/
.business-course-bot{
    margin:20px 0;
}
.business-course-bot-left{
    float:left;
    width:70%;
}
.business-course-bot-left > ul{
    height: 42px;
    border-bottom:1px solid #dddddd;
}
.business-course-bot-left > ul > li{
    float:left;
    width:120px;
    line-height:42px;
    text-align:center;
    border-left:1px solid #a3a3a3;
}
.business-course-now{
    border-top:3px solid #002772!important;
    line-height:40px!important;
    background:#ffffff;
}
.business-course-bot-area{
   min-height:127px;
}
/*创业课程处课程概述样式*/
.course-intro h4{
    color:#fff;
    width:100px;
    line-height:40px;
    text-align:center;
    background:#ffb80f;
    border-radius:3px;
    margin:20px 0;
}
.course-intro p{
    font-size:14px;
    line-height:20px;
}
.business-course-bot-right{
    display:block;
    float:left;
    width:28%;
    margin:20px 0 0 2%;
}
.business-course-bot-right img{
    float:left;
    width:49%;
}
.business-course-bot-right-detail{
    float:left;
    width:49%;
    margin-left:2%;
}
.business-course-bot-right-detail p{
    font-size:18px;
    line-height:34px;
}
.business-course-bot-right-detail span{
    display:block;
    height:180px;
    font-size:14px;
    line-height:20px;
    overflow:hidden;
}
/*课程目录*/
.business-course{
    padding-top:20px;
}
.business-course ul li{
    border-bottom:1px dashed #dddddd;
}
.business-course ul li span{
    line-height:50px;
    font-size:14px;
    display:inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.business-course ul li span:nth-of-type(1){
    width:20%;
}
.business-course ul li span:nth-of-type(2){
    width:60%;
}
.business-course ul li span:nth-of-type(3){
    width:20%;
}
/*导师推荐会面预约公用样式*/
.business-teacher-left{
    float:left;
}
.business-teacher-top{
    margin-top:20px;
    padding:1%;
    width: 100%;
    position:relative;
    background:url("../image/teacher-rec-bg.png") no-repeat;
}
.business-teacher-top img{
    float:left;
}
.business-teacher-top-intro{
    color:#ffffff;
    float:left;
    margin-left:2%;
}
.business-teacher-top-intro h3{
    font-size:18px;
    font-weight:bold;
    line-height:30px;
}
.business-teacher-top-intro p{
    font-size:14px;
    line-height:20px;
    overflow:hidden;
    letter-spacing: 0.2px;
    height: 36px;
}
.business-teacher-top-intro button{
    background:none;
    border:1px solid #ffffff;
    color:#ffffff;
    border-radius:5px;
    padding:5px 10px;
    position:absolute;
    bottom:15px;
}
.business-teacher-bottom{
    margin-top:20px;
    padding-bottom:20px;
    min-height: 325px;
}
.business-teacher-bottom .business-course-bot-left{
    width:100%;
}
.business-teacher-bottom .business-live-tutoring{
    padding-top:20px;
}
.business-teacher-right{
    width:23%;
    margin-left:3%;
    float:left;
    padding-bottom:20px;
}
.business-teacher-right .business-live-tutoring{
    background:#f2f2f2;
    padding-bottom:20px;
}
.business-teacher-right .business-live-tutoring ul{
    width:86%;
    margin: 0 auto;
}
.business-teacher-right .business-live-tutoring ul li{
    width:100%;
    margin:20px 0 0 0;
}

/*时间选择插件样式*/
.calendar{
    width:400px;
    text-align:center;
    background:#fff;
    border: 1px solid #ddd;
}
.calendar-header{
    height:50px;
    line-height: 50px;
}
.calendar-header input{
    width:60px;
    text-align:center;
}
.register-con-left form ul .calendar input{
    width:60px;
    height: 30px;
    outline: none;
    font-size: 18px;
    border-radius:5px;
    border-width:1px;
    text-align:center;
}
.calendar .month{
    width:30px;
}
.cale-left{
    float:left;
    width:50px;
    cursor:pointer;
}
.cale-right{
    float:right;
    width:50px;
    cursor:pointer;
}
.cale-que{
    float:left;
    width:50px;
    cursor:pointer;
}
.cale-com{
    float:right;
    width:50px;
    cursor:pointer;
}
.cale-nav{
    height:30px;
    line-height: 30px;
    border-bottom:1px solid #999;
}
.cale-nav span{
    box-sizing: border-box;
    width:14.2857%;
    float:left;
    color:#aaa;
}
.calendar-ri span{
    box-sizing: border-box;
    width:14.2857%;
    float:left;
    height:36px;
    line-height: 36px;
    cursor:pointer;
}
.calendar-ri span.active{
    border:1px solid #57DFF6;
    border-radius:5px;
}
.calendar .amd{color:red;}
/*创业测试样式*/
.business-builder-test{
    margin-top:20px;
    min-height: 741px;
    position:relative;
}
.business-builder-test h3{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    line-height: 24px;
}
.business-builder-test > p{
    text-align: center;
    margin-top:15px;
    font-size:14px;
}
.business-test-con{
    padding-top:20px;

}
.business-test-que{
    margin-top:15px;
    font-size:16px;
}
.business-test-que span:last-of-type{
    color:red;
}
.business-test-ans{
    font-size:14px;
}
.business-test-ans span{
    display:inline-block;
    margin:10px 20% 0 0;
}
.business-test-con button{
    position:absolute;
    bottom:20px;
    border:none;
    background:#ffb80f;
    color:#ffffff;
    width:120px;
    text-align:center;
    line-height:34px;
    font-size:16px;
    border-radius:3px;
}
@media (min-width: 0) {
    .business-teacher-left{
        width:100% ;
    }
    .business-teacher-right{
        display:none;
    }
    .business-teacher-top img{
        width: 29%;
    }
    .business-teacher-top-intro{
        width:69%;
    }
    .business-teacher-alert{
        width:90%;
        left:5%;
    }
}
@media (min-width:767px) {
    .business-teacher-top img{
        width: 12%;
    }
    .business-teacher-top-intro{
        width:83%;
    }
    .business-teacher-alert{
        width:60%;
        left:20%;
    }
}
@media (min-width:1200px) {
    .business-teacher-left{
        width:70%; ;
    }
    .business-teacher-right{
        width: 23%;
        display:block;
    }
    .business-teacher-alert{
        width:30%;
        left:35%;
    }
}

